// Define variables for your color scheme

// For example:
$white: #fbfbf2;
$blue: #006e90;
$orange: #fb5012;
$green: #00bd9d;
$black: #0f1108;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: #FD1015;
$yellow: #FFC65A;
