.banner-landing {
  background-image: url(landing.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}


.banner-container {
  color: black;
  text-align: center;
  h4 {
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .banner-landing {
    height: 70vh;
  }

  .container-container h3 {
    margin-bottom: 40px;
  }

  .home-card {
    width: 18vw;
    img {
      max-width: 70%;
    }
  }

  .home-card .card-image {
    height: 13vh;
  }
}
