<div class="footer">
  <div class="media-links">
    <ul>
      <li>
        <div class="link-container">
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </div>
      </li>
      <li>
        <div class="link-container">
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </li>
      <li>
        <div class="link-container">
          <a href=""><i class="fab fa-twitter"></i></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="other-links">
    <div class="link">
      <p>ABOUT US</p>
    </div>
     <div class="link">
      <p>|</p>
    </div>
    <div class="link">
      <p>CONTACTS</p>
    </div>
     <div class="link">
      <p>|</p>
    </div>
    <div class="link">
      <p>BLOG</p>
    </div>
  </div>
</div>
