<div class="nav">
  <div class="logo">
    <%= image_tag('logo.png', width: "160") %>
  </div>
  <ul class="nav-links">
    <li>
      <a href=""><%= link_to "Home", root_path %></a>
    </li>
    <li>
      <a href=""><%= link_to "Organizations", organizations_path %></a>
    </li>
    <li>
        <a href=""><%= link_to "Login", new_user_session_path %></a>
    </li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>
