#content-event-popup {
  position: absolute;
  right: -205px;
  top: 0;

  min-width: 200px;
  max-width: 200px;
  min-height: 215px;
  max-height: 215px;
  padding: 8px;

  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgb(180, 180, 180);
  box-shadow: 0 0 2px rgb(180, 180, 180);

  #headers-event-popup {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;

    #date-event-popup {
      font-size: 16px;
      text-align: center;
      margin-bottom: 2px;
      width: 30%;
      margin: 0;
      line-height: 38px;
      height: 38px;
    }

    ul.nav.nav-tabs {
      position: static;
      width: 70%;
      min-height: 0;
      border: none;

      li > a {
        padding: 5px;
        font-size: 20px;
      }
    }
  }
}
