.simple-calendar {
  padding: 5px;

  table {
    color: black;
    font-size: 10px;
    background-color: white;
    margin: 0;
  }

  /*
  tr {}
  */

  th {
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: none !important;
  }

  td {
    width: 14%;
    padding: 4px 5px 8px;
    vertical-align: top;
    border: 1px solid white !important;
  }

  .calendar-heading {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
  }

  .thead {
    border: 0 !important;
  }

  .day {
    height: 10px;
    font-size: 12px;
    text-align: center;
  }

  /*
  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}
  */

  .today {
    background: linear-gradient(25deg, rgba(255,125,77,0.1) 0%, rgba(255,125,77,0.4) 25%, rgba(255,125,77,0.8) 50%, rgba(255,125,77,0.8) 60%, rgba(255,125,77,0.7) 80%, rgba(255,125,77,0.1) 100%);
    border-radius: 10px;
  }

  /*
  .past {}
  .future {}

  .start-date {}
  */

  .prev-month, .next-month {
    background: rgb(220, 220, 220);
  }

  /*
  .current-month {}
  */

  .has-events {
    background-image: url(logo-marker-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .today.has-events {
    background-image: url(logo-marker-orange.png) !important;
    background-color: white !important;
  }
}
