.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: transparent;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.6s;
}

.nav-links-container {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}

.nav-links {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 27vw;
  margin-bottom: 0;
  padding-left: 0;
  li {
    list-style: none;
  }
}

.nav-links a {
  text-transform: uppercase;
  color: black;
}

.nav-login {
  display: flex;
  justify-content: space-around;
  width: 60%;
  padding-left: 0;
  margin-bottom: 0;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
    }
  }
}

.nav-avatar {
  list-style: none;
}

.avatar-links {
  display: none;
  position: absolute;
  right: 0px;
  // height: 30vh;
  width: 22vw;
  top: 10vh;
  li {
    list-style: none;
    color: black;
    text-transform: uppercase;
  }
}

.avatar-links li a {
  text-decoration: none;
  color: black;
}

.avatar-links-active {
  background-color: white;
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding-left: 25px;
  padding-top: 15px;
  transform: translateX(0%);
  li {
    padding-bottom: 20px;
  }
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: black;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .nav-links-container{
    width: 50%;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 25vh;
    width: 35vw;
    top: 10vh;
    padding-left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .nav-avatar {
    position: absolute;
    top: -20px;
    right: 17%;
  }

  .avatar-links {
  position: absolute;
  top: 8vh;
  right: -3vw;
  }

  .nav-login {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 33%;
    padding-left: 0;
    margin-bottom: 0;
    right: 55px;
  }
}


.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.cross .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .line2 {
  opacity: 0
}
.cross .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav.sticky {
  background-color: #00E0BB;
}

.nav.sticky .nav-links {
  border: none;
}

.nav.sticky .avatar-links-active {
  background-color: #00E0BB;
}

@media (max-width: 768px) {
  .nav.sticky .nav-links {
    background-color: #00E0BB;
  }
}

