.jumbotron-fluid{
  margin-top: 100px;
  background-color: $orange
}

.jumbotron-fluid h1{
  padding-top: 50px;
  color: $white;
}

.jumbotron-fluid h6{
  color: $white;
}

.jumbotron-fluid p{
  color: $white;
}


.fa-edit:before {
  content: "\f044";
 color: white;
}

