.jumbotron-fluid{
  margin-top: 100px;
  background-color: $white;
  background-size: cover;
  background-position: left;

}

.fa-map-marker-alt{
  color: $green;
  font-size: 90px;
}

.jumbotron-fluid h1{
  padding-top: 50px;
  color: $orange;
}

.jumbotron-fluid h6{
  color: $orange;
}

.jumbotron-fluid p{
  color: $orange;
  margin-left: 26px;
}


.fa-edit:before {
  content: "\f044";
 color: white;
}

